<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/css/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
	<title>Stark Cinemas</title>
</head>
<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">Stark Cinemas</h2>
			<nav>
				<a href="#" class="activo">Cartelera</a>
				<a href="#">Buscar Peliculas</a>
				<a href="{{ url_for( "comprar" ) }}">Comprar Tiquetes</a>
				<a href="#">Registrate</a>
			</nav>
		</div>
	</header>

	<main>
		<div class="pelicula-principal">
			<div class="contenedor">
				<h3 class="titulo">Interestellar</h3>
				<p class="descripcion">
					Narra las aventuras de un grupo de exploradores que hacen uso de un agujero de gusano recientemente descubierto para superar las limitaciones de los viajes espaciales tripulados y vencer las inmensas distancias que tiene un viaje interestelar.
				</p>
				<button role="button" class="boton"><i class="fas fa-play"></i>Trailer</button>
				<button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
			</div>
		</div>

		<div class="peliculas-recomendadas contenedor">
			<div class="contenedor-titulo-controles">
				<h3>Cartelera Hoy</h3>
				<div class="indicadores"></div>
			</div>

			<div class="contenedor-principal">
				<button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

				<div class="contenedor-carousel">
					<div class="carousel">
						<div class="pelicula">
							<a href="#"><img src="static/img/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/4.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/5.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/6.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/7.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/4.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/5.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/6.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/7.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/4.png" alt=""></a>
						</div>
					</div>
				</div>

				<button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
	</main>

	<div class="proximas-peliculas contenedor">
		<div class="contenedor-titulo-controles1">
			<h3>Proximos Estrenos</h3>
			<div class="indicadores1"></div>
		</div>

		<div class="contenedor-principal1">
			<button role="button" id="flecha-izquierda1" class="flecha-izquierda1"><i class="fas fa-angle-left"></i></button>

			<div class="contenedor-carousel1">
				<div class="carousel1">
					<div class="pelicula1">
						<a href="#"><img src="static/img/1.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/2.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/3.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/4.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/5.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/6.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/7.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/1.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/2.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/3.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/1.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/2.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/3.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/4.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/5.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/6.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/7.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/1.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/2.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/3.png" alt=""></a>
					</div>
					<div class="pelicula1">
						<a href="#"><img src="static/img/4.png" alt=""></a>
					</div>
				</div>
			</div>

			<button role="button" id="flecha-derecha1" class="flecha-derecha1"><i class="fas fa-angle-right"></i></button>
		</div>
	</div>
</main>
	
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="static/js/main.js"></script>
</body>
</html>