<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/css/styles1.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
	<title>Stark Cinemas - Comprar</title>
</head>
<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">COMPRAR TIQUETE EN STARK CINEMAS</h2>
			<nav>
				<a href="{{ url_for( "index" ) }}">Cartelera</a>
				<a href="#">Buscar Peliculas</a>
				<a href="#" class="activo">Comprar Tiquetes</a>
				<a href="#">Registrate</a>
			</nav>
		</div>
	</header>

	<main>
		<div class="pelicula-principal">
			<div class="contenedor">
				<h3 class="titulo">Compra Tu Tiquete</h3>
				<p class="descripcion">
					A continuación rellena el formulario para adquirir tus boletos de entrada a ver la pelicula de preferencia.
				</p>
				<button role="button" class="boton"><i class="fas fa-play"></i>Comprar Ahora!</button>
				
			</div>
		</div>

		<div class="peliculas-recomendadas contenedor">
			<div class="contenedor-titulo-controles">
				<h3>Formulario de Compra de Tiquetes</h3>
				<h3>Cartelera HOY</h3>
				<div class="indicadores"></div>
			</div>

			<div class="contenedor-principal">
				<button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

				<div class="contenedor-carousel">
					<div class="carousel">
						<div class="pelicula">
							<a href="#"><img src="static/img/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/4.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/5.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/6.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/7.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/4.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/5.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/6.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/7.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="static/img/4.png" alt=""></a>
						</div>
					</div>
				</div>

				<button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
	</main>

	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="static/js/main.js"></script>
</body>
</html>